
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 64px;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    padding: inherit;
    margin: inherit;
}

p {
    display: inline-block;
    padding: inherit;
    margin: inherit;
}

.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    border: 1px solid tranparent;
}


.centerPanel {
    border: 5px solid rebeccapurple;
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}